<div class="container-sm">
  <div class="row mb-4">
    <div class="col-8">
      <app-divider>Table Component</app-divider>
      <app-table
        classNames="table-striped"
        [data]="data"
        [headers]="headers"
      ></app-table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <app-divider>Tabs Component</app-divider>
      <app-tabs>
        <div
          class="nav flex-column nav-pills me-3"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active"
            id="v-pills-biography-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-biography"
            type="button"
            role="tab"
            aria-controls="v-pills-biography"
            aria-selected="true"
            routerLink="./"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Biography
          </button>
          <button
            class="nav-link"
            id="v-pills-companies-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-companies"
            type="button"
            role="tab"
            aria-controls="v-pills-companies"
            aria-selected="false"
            routerLink="companies"
            routerLinkActive="active"
          >
            Companies
          </button>

          <button
            class="nav-link"
            id="v-pills-partners-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-partners"
            type="button"
            role="tab"
            aria-controls="v-pills-partners"
            aria-selected="false"
            routerLink="partners"
            routerLinkActive="active"
          >
            Partners
          </button>
        </div>
      </app-tabs>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
