<div class="d-flex align-items-start">
  <ng-content></ng-content>
  <div class="tab-content" id="v-pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="v-pills-biography"
      role="tabpanel"
      aria-labelledby="v-pills-biography-tab"
      tabindex="0"
    >
      This is some placeholder content the Home tab's associated content.
      Clicking another tab will toggle the visibility of this one for the next.
      The tab JavaScript swaps classes to control the content visibility and
      styling. You can use it with tabs, pills, and any other .nav-powered
      navigation.
    </div>
    <div
      class="tab-pane fade"
      id="v-pills-companies"
      role="tabpanel"
      aria-labelledby="v-pills-companies-tab"
      tabindex="0"
    >
      This is some placeholder content the Profile tab's associated content.
      Clicking another tab will toggle the visibility of this one for the next.
      The tab JavaScript swaps classes to control the content visibility and
      styling. You can use it with tabs, pills, and any other .nav-powered
      navigation.
    </div>

    <div
      class="tab-pane fade"
      id="v-pills-messages"
      role="tabpanel"
      aria-labelledby="v-pills-messages-tab"
      tabindex="0"
    >
      This is some placeholder content the Messages tab's associated content.
      Clicking another tab will toggle the visibility of this one for the next.
      The tab JavaScript swaps classes to control the content visibility and
      styling. You can use it with tabs, pills, and any other .nav-powered
      navigation
    </div>
  </div>
</div>
